<div class="all-posts">
  {{#each posts}}
    <div class="post">
      <div class="post-header">
        <a href="/post/{{pid}}">{{title}}</a>
      </div>
      <div class="post-image">
        <img src="/assets/post/{{post_image}}" alt="post_image">
      </div>
      {{{content}}}
      <br>
      <div class="post-author">
        Post By <a href="/user/{{opusr}}">{{opusr}}</a>
      </div>
    </div>
  {{/each}}
</div>
